---
import Layout from "../../layouts/Layout.astro";
import SobreNosotros from "../../sections/SobreNosotros.astro";
import { formalPerson } from '../../constants/imgs';
---

<Layout title="Sobre Nosotros">
    <main>
        <SobreNosotros/>
        <section class="flex flex-col my-8 px-12">
            <div class="grid md:grid-cols-2 max-w-[1272px] mx-auto my-16">
                <div data-aos="fade-right" data-aos-duration="1000">
                    <h1 class="tracking-wide leading-[2.6rem] font-medium text-3xl">Estamos orgullosos de ofrecer un amplio catálogo de propiedades y nuestro servicio de asesoría profesional de nuestro equipo de trabajo.</h1>
                </div>
            </div>

            <div class="grid md:grid-cols-2 max-w-[1272px] mx-auto my-16">
                <div></div>
                <div data-aos="fade-left" data-aos-duration="1000">
                    <quote class="font-light text-md italic">"Nuestra misión es guiar a nuestros clientes en cada paso del proceso de compra, venta o alquiler de propiedades, brindando un servicio personalizado y adaptado a sus necesidades."</quote>
                </div>
            </div>

            <div class="max-w-[1272px] mx-auto mt-16 mb-2">
                <div>
                    <figure>
                        <img src={formalPerson.url} alt="Formal Person" class="w-screen bg-center h-[460px] object-cover">
                    </figure>
                </div>
            </div>

            <div class="grid md:grid-cols-2 max-w-[1272px] mx-auto my-16">
                <div data-aos="fade-right" data-aos-duration="1000">
                    <h2 class="tracking-wide leading-[2.6rem] font-medium text-2xl">Contamos con un equipo de profesionales altamente capacitados, cada uno especializado en diferentes áreas del sector inmobiliario. Nuestro equipo trabaja en conjunto para asegurar que cada cliente reciba el mejor asesoramiento y apoyo.</h2>
                </div>
            </div>

            <div class="grid md:grid-cols-2 max-w-[1272px] mx-auto my-16">
                <div></div>
                <div data-aos="fade-left" data-aos-duration="1000">
                    <quote class="font-light text-md italic">"Nos mantenemos a la vanguardia de la tecnología para ofrecer a nuestros clientes herramientas innovadoras que faciliten la búsqueda y la gestión de propiedades. Nuestra plataforma en línea permite explorar nuestro catálogo de propiedades de manera fácil y rápida."</quote>
                </div>
            </div>
        </section>
    </main>
</Layout>