---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
---

<Layout title="Casaasada | Propiedades">
	<Header/>

	<main>
		<!-- hero -->
		<Hero/>
	</main>
</Layout>
