---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Quote from '../sections/Quote.astro';
import SeParteDeNosotros from '../sections/SeParteDeNosotros.astro';
---

<Layout title="Casaasada | Propiedades">
	<main>
		<Hero/>
		<Quote/>
		<SeParteDeNosotros/>
	</main>
</Layout>
