---
import Footer from '../components/UI/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Quote from '../sections/Quote.astro';
import SeParteDeNosotros from '../sections/SeParteDeNosotros.astro';
---

<Layout title="Casaasada | Propiedades">
	<Header/>

	<main>
		<Hero/>
		<Quote/>
		<SeParteDeNosotros/>
	</main>

	<Footer/>
</Layout>
