<header class="fixed left-0 top-0 right-0 z-20 bg-transparent">
    <div class="flex justify-around items-center lg:px-20 mx-12 pt-8">
        <div class="flex items-center flex-col">
            <h1>
                <a href="/" class="text-primary text-5xl font-playfair font-semibold uppercase">Casaasada</a>
            </h1>
            <span class="text-primary text-[12px] uppercase font-light">Las mejores propiedades de Argentina</span>
        </div>
        <nav class="flex gap-x-44">
            <ul class="flex justify-center gap-x-12">
                <li><a href="/properties" class="text-white hover:opacity-70 font-regular">Propiedades</a></li>
                <li><a href="/about-us" class="text-white hover:opacity-70 font-regular">Sobre Nosotros</a></li>
                <li><a href="/location" class="text-white hover:opacity-70 font-regular">Ubicación</a></li>
            </ul>
            <div>
                <a href="/contacto" class="text-white uppercase font-semibold bg-primary hover:bg-secondary duration-300 border-1 rounded-custom-tl px-4 py-2">Contacto</a>
            </div>
        </nav>
    </div>
</header>