<section class="h-[50vh] flex flex-col bg-black">
    <div class="w-full  bg-ubicacion bg-cover bg-center h-full relative opacity-40"></div>
    <div class="flex mx-8 absolute left-0 right-0 h-[50vh] justify-center">
        <div class="flex flex-col gap-6 order-1 md:order-2">
            <div class="h-full flex flex-col justify-center mt-24 md:mt-12">
                <h2 class="text-3xl md:text-4xl lg:text-4xl xl:text-5xl text-white font-medium leading-[2.5rem] xl:leading-[3.6rem]">Encuentranos en</h2>
            </div>
        </div>
    </div>
</section>