---
import api from '../../api/api';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const properties = await api.list();
  return properties.map((property) => ({
    params: {
        id: property.id.toString()
    }, 
    props: {
        property
    }
  }))
}

const { property } = Astro.props;
---

<Layout title={property.name}>
	<main>
		{JSON.stringify(property, null, 2)}
	</main>
</Layout>