---
import api from "../../api/api";
import Layout from "../../layouts/Layout.astro";



const properties = await api.list()
console.log(properties);
---

<Layout title="Propiedades">
	<main>
		Properties
		<ul>
			{
				properties.map((property) => (
					<li>
						<a href={`/properties/${property.id}`}>{property.name}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
