---
import api from "../../api/api";
import Propiedad from "../../components/Propiedad.astro";
import Layout from "../../layouts/Layout.astro";
import ExploraPropiedades from "../../sections/ExploraPropiedades.astro";



let properties = await api.list()

properties = properties.sort((a, b) => Number(b.year) - Number(a.year));
---

<Layout title="Propiedades">
	<main>
		<ExploraPropiedades/>
		<section>
			<ul>
				{
					properties.map((property) => (
						<a  href={`/properties/${property.id}`}>
							<Propiedad property={property}/>
						</a>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
