---
import api from "../../api/api";
import Propiedad from "../../components/Propiedad.astro";
import Layout from "../../layouts/Layout.astro";
import ExploraPropiedades from "../../sections/ExploraPropiedades.astro";



const properties = await api.list()
console.log(properties);
---

<Layout title="Propiedades">
	<main>
		<ExploraPropiedades/>
		<section>
			<ul>
				{
					properties.map((property) => (
						<Propiedad property={property}/>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
