---
// Supports weights 100-900
import '@fontsource-variable/noto-sans-kr';
// Supports weights 400-900
import '@fontsource-variable/playfair-display';
import Header from '../sections/Header.astro';
import Footer from '../components/UI/Footer.astro';

import '../styles/global.css';

import { ViewTransitions } from 'astro:transitions';
import SideMenu from '../components/SideMenu';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<Header/>
		<slot />
		<SideMenu client:load/>
		<Footer/>
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		background-color: #e8e8e8;
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Noto Sans KR Variable', sans-serif;
	}
</style>

<script>
    import AOS from 'aos';
    AOS.init();
</script>