---
import Facebook from "../../icons/Facebook.astro";
import Instagram from "../../icons/Instagram.astro";
import Whatsapp from "../../icons/Whatsapp.astro";
import X from "../../icons/X.astro";
---

<footer class="bg-black p-12 mt-12">
    <div class="flex items-center flex-col">
        <h1>
            <a href="/" class="text-primary text-4xl md:text-5xl font-playfair font-semibold uppercase">Casaasada</a>
        </h1>
        <span class="text-primary text-[10px] md:text-[12px] uppercase font-light">Las mejores propiedades de Argentina</span>
    </div>
    <div class="flex gap-x-4 justify-center mt-4">
        <a href="#"><Whatsapp className="text-primary hover:text-[#76572C] duration-300  size-8"/></a>
        <a href="#"><Instagram className="text-primary  hover:text-[#76572C] duration-300 size-8"/></a>
        <a href="#"><Facebook className="text-primary  hover:text-[#76572C] duration-300 size-8"/></a>
        <a href="#"><X className="text-primary  hover:text-[#76572C] duration-300 size-8"/></a>
    </div>
</footer>